<nav class="app-top-nav">
  <div class="nav-left">
    menu button
    home button
  </div>
  <div class="nav-right">
    create task
    notification
    profile
  </div>
</nav>
<section class="app-side-nav">
  <nav class="side-nav">
    Dashboard
    Today
    Upcoming
    Categories
  </nav>
</section>
<section class="app-body">
  List of task
</section>