<div class="app">
  <section class="app-top-nav">
    <nav class="top-nav">
      <div class="nav-left">
        <button class="menu-btn">&#9776;</button>
        home button
      </div>
      <div class="nav-right">
        create task
        profile
      </div>
    </nav>
  </section>
  <section class="app-side-nav">
    <nav class="side-nav">
      <div>Dashboard</div>
      <div>Today</div>
      <div>Upcoming</div>
      <div class='category'>
        <div class="category-header">
          Categories
          <%= button_to '+', new_category_path, method: :get ,data: { turbo_frame: 'modal' } %>
        </div>
        <ul>
          <% @categories.each do |category| %>
            <li><%= category.title %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </section>
  <section class="app-body">
    List of task
  </section>
</div>