
<%= turbo_frame_tag 'modal' do %>
  <div data-controller='modal'>
    <div class="modal-overlay">
      <div class="modal-form">
          <h1>Add Category</h1>
          <%= render 'form', category: @category %>
      </div>
    </div>
  </div>
<% end %>